/*colors
Red: f44336;
*/

/*typography*/
@font-face {
  font-family: 'DIN';
  src: url('../fonts/din1451alt_g-webfont.woff2') format('woff2'),
       url('../fonts/din1451alt_g-webfont') format('woff');
}

/*Global*/
body {
	margin: 0 auto;
	padding: 0;
	font-family: 'DIN', sans-serif;
	width: 375px;
	height: 680px;
	-webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.25);
-moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.25);
box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.25);
}



/*logo*/
.header {
	background-color: #f44336;
	margin: 0;
}

.logo {
	height: 50px;
	margin: 0 auto;
	width: auto;
	display: block;
}
/*navbar*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f44336;
}

li {
	float: left;
	width: 50%;
}

li a {
	display: block;
	color: #ffcdd2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	color: white;
}

.active {
    color: white;
}

/*hide/show div*/

.fullList {
	display: none;
}

/*body header*/
.headerDIV {
	display: block;
	width: auto;
	height: 65px;
}

h1 {
	display: inline-block;
	float: left;
	position: relative;
	left: 10px;
	font-size: 24px;
	color: #212121;
}

i {
	display: inline-block;
	float: right;
	position: relative;
	top: 24px;
	right: 10px;
}

/*form*/
.bodyDIV {
	display: block;
	height: 139px;
}

input {
	width: 333px;
	padding: 12px 20px;
	border: 1px solid #d3d3d3;
}

.addBtn {
	width: 100%;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 20px 0px;
	background-color: #536dfe;
	color: white;
	box-sizing: border-box;
	border: 1px solid #536dfe;
	font-size: 16px;
}
/*
.cancelBtn {
	width: 50%;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 20px 0px;
	box-sizing: border-box;
	border: 1px solid #536dfe;
	background-color: white;
	text-decoration: none;
	color: #212121;
	height: 61px;
	font-size: 16px;
	font-family: "DIN";
}*/

/*gifts*/
#listUL {
	background-color: white;
}

.listLI {
	background-color: white;
	display: block;
	width: 353px;
	padding: 20px 10px;
	border: 1px solid #d3d3d3;
}

.close {
	padding-left: 225px;
}

